/*
 * Common styles for layout and typography throughout the views. 
 * Included on all pages.
 */
html {
	background-color: #fafafa;
}

.error{color:red;}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}

.strongButton,.brightButton, .button {
	cursor: pointer;
}
a{
	margin: 0;
	padding: 0;
	border: 0;
	outline-style: none;
	outline-color: invert;
	font-family: inherit;
	font-style: inherit;
	vertical-align: baseline;
}